:root {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#regiao-label-elemento, #regiao-botoes {
	flex-direction: row;
}

#icone-elemento {
	margin-right: 18px;
}

#botao-excluir > Image, #botao-editar > Image {
	cursor: link;
}

#botao-excluir, #botao-editar {
	background-color: rgba(0, 0, 0, 0.0);
	border-width: 0px;
	margin-right: 15px;
	cursor: link;
}

#botao-editar {
	padding: 0px;
	margin-right: 6px;
}