#regiao-input-audio {
	margin-bottom: 24px;
}

#label-slider-volume {
	color: black;
	font-size: 15px;
	-unity-font-style: bold;
	margin-bottom: 6px;
}

#regiao-label-slider-volume {
	flex-direction: row;
}

#regiao-tooltip-slider-volume {
	margin-left: 8px;
}