:root {
	flex: 1;
	justify-content: space-between;
	padding-bottom: 12px;
}

#grupo-radio-button {
	flex-direction: column;
}

#regiao-radio-button-cor-unica {
	flex-direction: row;
	align-self: flex-start;
	align-items: center;
}

#radio-opcao-cor-unica {
	margin-right: 12px;
}

#buscar-imagem {
	width: 85%;
	align-self: center;
}

#regiao-radio-button-imagem {
	margin-top: 10px;
}

#radio-opcao-imagem {
	margin-bottom: 25px;
}