#grupo-input-espelhar > VisualElement {
    flex-direction: column;
    justify-content: flex-start;
}

#input-espelhar-horizontal, #input-espelhar-vertical {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#input-espelhar-horizontal > VisualElement, #input-espelhar-vertical > VisualElement {
    max-width: 20px;
}
