:root {
	flex-direction: row;
	justify-content: space-between;
}

#imagem-nome-associacao {
	flex-direction: row;
}

#imagem-icone-animacao {
	margin-right: 15px;
}

#imagem-icone-lixeira {
	align-self: flex-start;
	margin-right: 15px;
}