:root {
	flex: 1;
	justify-content: center;
	align-items: center;
}

.regiao-background-popup {
	flex: 1;
	flex-direction: column;
	justify-content: space-around;
	padding: 6px;
}

#mensagem-aviso {
	white-space: normal;
}