#grupo-tamanho {
	flex-direction: column;
	justify-content: space-around;
	margin-top: 6px;
}

#label-tamanho {
	margin-bottom: 3px;
}

#label-altura, #label-largura {
	margin-right: 3px;
}

#label-altura {
	margin-left: 3px;
}
