:root {
    flex-grow: 1;
    height: 100%;
    width: 100%;
	flex-direction: column;
    margin-left: 10px;
}

#label-inputs-tamanho {
    -unity-font-style: bold;
    font-size: 15px;
}

#regiao-conteudo {
    margin-top: 6px;
	flex-direction: row;
}

#regiao-conteudo > TemplateContainer > VisualElement > Label {
    font-size: 15px;
}