:root {
    flex-grow: 1;
    height: 100%;
    width: 100%;
	flex-direction: column;
    margin-left: 10px;
}

#label-inputs-tamanho {
    -unity-font-style: bold;
    margin-bottom: 6px;
    font-size: 15px;
}

#regiao-conteudo {
	flex-direction: row;
}